<div class="container">    
    <h3 class="page-header">Orders</h3>

    <!-- error msg if any -->
    <div [style.margin-top.px]="10" class="text-danger" *ngIf="errormsg">{{errormsg}}</div>

    <div class="col-md-12 col-md-offset-1 navi">
        <div class="col-md-10">
            <a [routerLink]="['/ordecreator']" class="btn btn-info pull-right">Add Order</a>
        </div>

        <div class="col-md-2">
            <a [routerLink]="['/items']" class="btn btn-info pull-right">Check Items</a>
        </div>
    </div>

    <div [style.margin-top.px]="10" [style.margin-bottom.px]="20" class="row col-md-12">
        <form class="form" (ngSubmit)="search(orderId.value, company.value, address.value)">
            <div class="form-group">
                <label for="orderId">Order ID (Optional)</label>
                <input type="text" class="form-control" id="orderId" #orderId placeholder="Order ID">
            </div>

            <div class="form-group">
                <label for="company">Company (Optional)</label>
                <input type="text" class="form-control" id="company" #company placeholder="Company Name">
            </div>

            <div class="form-group">
                <label for="address">Address (Optional)</label>
                <input type="text" class="form-control" id="address" #address placeholder="Address">
            </div>

            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <div class="row" *ngIf="orders">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>OrderId</th>
                            <th>Company</th>
                            <th>Address</th>
                            <th>Item</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of orders" *ngIf="order?.orderId">
                            <td>{{order.orderId}}</td>
                            <td>{{order.company}}</td>
                            <td>{{order.address}}</td>
                            <td>{{order.item}}</td>
                            <td><a (click)="delete(order.orderId)" style="cursor: pointer"><i class="fa fa-trash"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>