<div class="container">  
    <h3 class="page-header">Add Order</h3>
    
    <!-- error msg if any -->
    <div [style.margin-top.px]="10" class="text-danger" *ngIf="errormsg">{{errormsg}}</div>

    <div class="col-md-12 col-md-offset-1 navi">
        <div class="col-md-12">
            <a [routerLink]="['/']" class="btn btn-info pull-right">Orders</a>
        </div>
    </div>

    <div [style.margin-top.px]="10" [style.margin-bottom.px]="20" class="row col-md-12">
        <form class="form" (ngSubmit)="create(orderId.value, company.value, address.value, item.value)">
            <div class="form-group">
                <label for="orderId">Order ID</label>
                <input type="text" class="form-control" id="orderId" #orderId placeholder="Order ID" required>
            </div>

            <div class="form-group">
                <label for="company">Company</label>
                <input type="text" class="form-control" id="company" #company placeholder="Company Name" required>
            </div>

            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" #address placeholder="Address" required>
            </div>

            <div class="form-group">
                <label for="item">Item</label>
                <input type="text" class="form-control" id="item" #item placeholder="Item" required>
            </div>

            <button type="submit" class="btn btn-primary">Commit</button>
        </form>
    </div>
</div>